<div>
            <table>
          <tr>
                <th>Id</th>
                <th>Title</th>
                <th>price</th>
                <th>stock</th>
             
          </tr>    
                <Listitem *ngFor = "let Listitem of list" [data]="Listitem"> </Listitem>
          </table>
          </div>
