table {
        width:100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
     td {
        padding: 30px;
        text-align: left;
        
    }
    
    table tr:nth-child(even) {
        background-color: #eee;
        color: red;
    }
    table tr:nth-child(odd) {
       background-color: #fff;
      
    }
    table th {
        background-color: black
        ;
        color: white;
    }